**/node_modules
**/.svelte-kit
**/build
**/dist
**/.vite
**/.turbo
**/coverage
**/.DS_Store
**/.git
**/.github
**/.vscode
**/.idea
**/*.log
**/.env
**/.env.*
!**/.env.example
**/playwright-report
**/test-results
